body{
	margin: 0px;
	padding: 0px;
	background: #f1f1f1;
	font-family: arial;
	box-sizing: border-box;
}
.card{
	margin-top: 15px;
	width: 90%;
	margin: 15px auto;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
	border-radius: 2px;
}

.card-header{
	height: 120px;
	background: #0077b6;
	position: relative;
	padding: 0px;
	display: flex;
	justify-content: center;
}

.card-body{
	padding: 0px;
}

.image-container{
	position: absolute;
	bottom: -50px;
	margin: 0px auto;
	display: block;
}

.image-container img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.fond-profile{
	width: 100%;
	position: absolute;
	opacity: 70%;
	top: 0;
	background-size: cover;
}

.fond-profile img{
	width: 100%;
	height: 100%;
	background-size: cover;
}

.card-title{
	font-family: Arial, Helvetica, sans-serif;
	
}

.fil{
	border-bottom: 1px solid rgba(95, 95, 95, 0.192);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.fil p{
	margin: 0;
	font-weight: bolder;
}

.v-profile{
	text-decoration: none;
}

.image-container2{
	width: auto;
	height: auto;
	/*position: absolute;
	left: 38%;*/
}
.image-container2 img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.card-body .card-title{
	padding-top: 15px;
	text-align: center;
}
.card-body .card-subtitle{
	text-align: center;
}
.card-body .btn{
	text-align: center;
	background: #7F00FF;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}
.card-body .btn:hover{
	background: transparent;
	color: #7F00FF;
	border: solid #7F00FF;
}
.card-wrapper{
	height: 400px;
	width: 300px;
	perspective: 1000px;
}
.content{
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.card-wrapper:hover .content{
	transform: rotateY(180deg);
	transition: 1s;
}
.face-front, .face-back{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #fff;
	color: black;	
}
.face-back{
	transform: rotateY(180deg);
}