/*Archivos Importados*/
@import url(carousel.css);
@import url(article-left.css);
@import url(article-center.css);
@import url(article-right.css);

/*Colores*/

:root{
    --color1: #03045E;
    --color2: #023E8A;
    --color3: #0077b6;
    --color4: #0096C7;
    --color5: #00B4D8;
    --color6: #48CAE4;
    --color7: #90E0EF;
    --color8: #ADE8F4;
    --color9: #CAF0F8;
}

/*General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, rgba(255,255,255,1), rgba(226,226,226,1) 110%);
}

/*
////////////////////////////////HEADER//////////////////////////
*/

.icono-search{
    color: rgb(88, 88, 88);
    font-size: 20px;
    z-index: 10;
}

.input-search{
    font-weight: 300;
    padding: 5px;
    border: none;
    width: 500px;
    outline: none ; 
    font-weight: 300;
    border-radius: 25px 0px 0px 25px;
}

.btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 31px;
    border:none;
    border-radius: 0px 50% 50% 0px;
    z-index: 10;
    padding: 0px 10px;
}

.fondo-nav{
    background-image: linear-gradient(to top, #0077b6 0%, #158fd1 100%);
    padding: 0px;
    box-shadow: 0px 0px 25px rgba(34, 34, 34, 0.438);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 4;
    left: 0;
}

.item-nav{
    font-size: 20px ;
    box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.2);
}


.item-nav ul li a{
    margin: none !important;
}

.arrow{
    font-size: 15px;
    align-items: center;
    margin: auto;
}

.btn-option{
    border: none;
    background: transparent;
}

/*
////////////////////////////PUBLIC SECTION///////////////////
*/

